<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-5.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<security:authentication-manager>
		<security:authentication-provider>
			<security:user-service>
				<security:user name="yogesh" authorities="admin"
					password="$2a$10$S67GUZ6vOHiahkyV/vaUU.a9r27KVgy8qhZjqb8Lpq/XoeH85xpOu" />
				<security:user authorities="admin" name="kaminee"
					password="kaminee" />
			</security:user-service>

			<security:password-encoder ref="encoder" hash="bcrypt" />
		</security:authentication-provider>
	</security:authentication-manager>
	<security:http use-expressions="true">
		<security:intercept-url pattern="/" access="permitAll" />
		<security:intercept-url pattern="/files/**" access="permitAll" />
		<security:intercept-url pattern="/login	" access="permitAll" />
			<security:intercept-url pattern="/addUser" access="isAuthenticated()" />
			<security:intercept-url pattern="/**" access="denyAll" />
			<security:form-login login-page="/login"
				authentication-failure-url="/login?error" />
	</security:http>
	<bean id="encoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
  </bean>
</beans>
